footer {
    display: flex;
    background-color: black;
    color: white;
    height: 15%;
    width: 100%;
    justify-content: space-evenly;
}

a {
    color: white;
    text-decoration-color: yellow;
}