<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Diaries</title>
</head>

<body>
    <header class="navbar">
        <div class="nav-heading">
            <h1 class="brand">Travel Diaries</h1>
            <h5 class="tagline">Planning trips made easier</h5>
        </div>
        <h4 class="nav-user">My Account</h4>
    </header>
    <section class="user-input">
        <form onsubmit="return Client.handleSubmit(event)">
            <div class="tripName">
                <label for="tripName">Name your trip</label>
                <input type="text" placeholder="eg. Friends trip" id="trip-name">
            </div>
            <div class="tripDestination">
                <label for="tripDestination">Destination</label>
                <input type="text" placeholder="eg. Shillong" id="trip-dest">
            </div>
            <div class="fromDate">
                <label for="fromDate">From</label>
                <input type="date" min="2020-02-17" max="2025-02-17" id="start-date">
            </div>
            <div class="toDate">
                <label for="toDate">To</label>
                <input type="date" min="2020-02-18" max="2025-02-18" id="end-date">
            </div>
            <input type="submit" id="submitBtn" value="Go Travel" onclick="return Client.handleSubmit(event)"
                onsubmit="return Client.handleSubmit(event)">
        </form>
    </section>
    <section class="destination-info">
        <div class="spinner" style="display: none;"></div>
        <div class="destImage">
        </div>
        <div class="destDetails">
            <article class="no-trip">
                <h1 id="noTripHeading">No trips found!</h1>
            </article>
            <article class="dest-name"></article>
            <article class="dest-daysLeft"></article>
            <article class="dest-daysTrip"></article>
            <article class="dest-forecast"></article>
        </div>
    </section>
    <footer>
        <p>©Travel Diaries</p>
    </footer>
</body>

</html>